$/angle:bytype1 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[0]/mon[0]/monomer $/atom:polymerA/polymers[0]/mon[1]/monomer $/atom:polymerA/polymers[0]/mon[2]/monomer
$/angle:bytype2 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[0]/mon[2]/monomer $/atom:polymerA/polymers[0]/mon[3]/monomer $/atom:polymerA/polymers[0]/mon[4]/monomer
$/angle:bytype3 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[0]/mon[4]/monomer $/atom:polymerA/polymers[0]/mon[5]/monomer $/atom:polymerA/polymers[0]/mon[6]/monomer
$/angle:bytype4 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[1]/mon[0]/monomer $/atom:polymerA/polymers[1]/mon[1]/monomer $/atom:polymerA/polymers[1]/mon[2]/monomer
$/angle:bytype5 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[1]/mon[2]/monomer $/atom:polymerA/polymers[1]/mon[3]/monomer $/atom:polymerA/polymers[1]/mon[4]/monomer
$/angle:bytype6 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[1]/mon[4]/monomer $/atom:polymerA/polymers[1]/mon[5]/monomer $/atom:polymerA/polymers[1]/mon[6]/monomer
$/angle:bytype7 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[2]/mon[0]/monomer $/atom:polymerA/polymers[2]/mon[1]/monomer $/atom:polymerA/polymers[2]/mon[2]/monomer
$/angle:bytype8 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[2]/mon[2]/monomer $/atom:polymerA/polymers[2]/mon[3]/monomer $/atom:polymerA/polymers[2]/mon[4]/monomer
$/angle:bytype9 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[2]/mon[4]/monomer $/atom:polymerA/polymers[2]/mon[5]/monomer $/atom:polymerA/polymers[2]/mon[6]/monomer
$/angle:bytype10 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[3]/mon[0]/monomer $/atom:polymerA/polymers[3]/mon[1]/monomer $/atom:polymerA/polymers[3]/mon[2]/monomer
$/angle:bytype11 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[3]/mon[2]/monomer $/atom:polymerA/polymers[3]/mon[3]/monomer $/atom:polymerA/polymers[3]/mon[4]/monomer
$/angle:bytype12 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[3]/mon[4]/monomer $/atom:polymerA/polymers[3]/mon[5]/monomer $/atom:polymerA/polymers[3]/mon[6]/monomer
$/angle:bytype13 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[4]/mon[0]/monomer $/atom:polymerA/polymers[4]/mon[1]/monomer $/atom:polymerA/polymers[4]/mon[2]/monomer
$/angle:bytype14 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[4]/mon[2]/monomer $/atom:polymerA/polymers[4]/mon[3]/monomer $/atom:polymerA/polymers[4]/mon[4]/monomer
$/angle:bytype15 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[4]/mon[4]/monomer $/atom:polymerA/polymers[4]/mon[5]/monomer $/atom:polymerA/polymers[4]/mon[6]/monomer
$/angle:bytype16 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[5]/mon[0]/monomer $/atom:polymerA/polymers[5]/mon[1]/monomer $/atom:polymerA/polymers[5]/mon[2]/monomer
$/angle:bytype17 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[5]/mon[2]/monomer $/atom:polymerA/polymers[5]/mon[3]/monomer $/atom:polymerA/polymers[5]/mon[4]/monomer
$/angle:bytype18 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[5]/mon[4]/monomer $/atom:polymerA/polymers[5]/mon[5]/monomer $/atom:polymerA/polymers[5]/mon[6]/monomer
$/angle:bytype19 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[6]/mon[0]/monomer $/atom:polymerA/polymers[6]/mon[1]/monomer $/atom:polymerA/polymers[6]/mon[2]/monomer
$/angle:bytype20 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[6]/mon[2]/monomer $/atom:polymerA/polymers[6]/mon[3]/monomer $/atom:polymerA/polymers[6]/mon[4]/monomer
$/angle:bytype21 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[6]/mon[4]/monomer $/atom:polymerA/polymers[6]/mon[5]/monomer $/atom:polymerA/polymers[6]/mon[6]/monomer
$/angle:bytype22 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[7]/mon[0]/monomer $/atom:polymerA/polymers[7]/mon[1]/monomer $/atom:polymerA/polymers[7]/mon[2]/monomer
$/angle:bytype23 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[7]/mon[2]/monomer $/atom:polymerA/polymers[7]/mon[3]/monomer $/atom:polymerA/polymers[7]/mon[4]/monomer
$/angle:bytype24 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[7]/mon[4]/monomer $/atom:polymerA/polymers[7]/mon[5]/monomer $/atom:polymerA/polymers[7]/mon[6]/monomer
$/angle:bytype25 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[8]/mon[0]/monomer $/atom:polymerA/polymers[8]/mon[1]/monomer $/atom:polymerA/polymers[8]/mon[2]/monomer
$/angle:bytype26 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[8]/mon[2]/monomer $/atom:polymerA/polymers[8]/mon[3]/monomer $/atom:polymerA/polymers[8]/mon[4]/monomer
$/angle:bytype27 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[8]/mon[4]/monomer $/atom:polymerA/polymers[8]/mon[5]/monomer $/atom:polymerA/polymers[8]/mon[6]/monomer
$/angle:bytype28 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[9]/mon[0]/monomer $/atom:polymerA/polymers[9]/mon[1]/monomer $/atom:polymerA/polymers[9]/mon[2]/monomer
$/angle:bytype29 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[9]/mon[2]/monomer $/atom:polymerA/polymers[9]/mon[3]/monomer $/atom:polymerA/polymers[9]/mon[4]/monomer
$/angle:bytype30 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[9]/mon[4]/monomer $/atom:polymerA/polymers[9]/mon[5]/monomer $/atom:polymerA/polymers[9]/mon[6]/monomer
$/angle:bytype31 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[10]/mon[0]/monomer $/atom:polymerA/polymers[10]/mon[1]/monomer $/atom:polymerA/polymers[10]/mon[2]/monomer
$/angle:bytype32 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[10]/mon[2]/monomer $/atom:polymerA/polymers[10]/mon[3]/monomer $/atom:polymerA/polymers[10]/mon[4]/monomer
$/angle:bytype33 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[10]/mon[4]/monomer $/atom:polymerA/polymers[10]/mon[5]/monomer $/atom:polymerA/polymers[10]/mon[6]/monomer
$/angle:bytype34 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[11]/mon[0]/monomer $/atom:polymerA/polymers[11]/mon[1]/monomer $/atom:polymerA/polymers[11]/mon[2]/monomer
$/angle:bytype35 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[11]/mon[2]/monomer $/atom:polymerA/polymers[11]/mon[3]/monomer $/atom:polymerA/polymers[11]/mon[4]/monomer
$/angle:bytype36 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[11]/mon[4]/monomer $/atom:polymerA/polymers[11]/mon[5]/monomer $/atom:polymerA/polymers[11]/mon[6]/monomer
$/angle:bytype37 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[12]/mon[0]/monomer $/atom:polymerA/polymers[12]/mon[1]/monomer $/atom:polymerA/polymers[12]/mon[2]/monomer
$/angle:bytype38 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[12]/mon[2]/monomer $/atom:polymerA/polymers[12]/mon[3]/monomer $/atom:polymerA/polymers[12]/mon[4]/monomer
$/angle:bytype39 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[12]/mon[4]/monomer $/atom:polymerA/polymers[12]/mon[5]/monomer $/atom:polymerA/polymers[12]/mon[6]/monomer
$/angle:bytype40 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[13]/mon[0]/monomer $/atom:polymerA/polymers[13]/mon[1]/monomer $/atom:polymerA/polymers[13]/mon[2]/monomer
$/angle:bytype41 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[13]/mon[2]/monomer $/atom:polymerA/polymers[13]/mon[3]/monomer $/atom:polymerA/polymers[13]/mon[4]/monomer
$/angle:bytype42 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[13]/mon[4]/monomer $/atom:polymerA/polymers[13]/mon[5]/monomer $/atom:polymerA/polymers[13]/mon[6]/monomer
$/angle:bytype43 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[14]/mon[0]/monomer $/atom:polymerA/polymers[14]/mon[1]/monomer $/atom:polymerA/polymers[14]/mon[2]/monomer
$/angle:bytype44 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[14]/mon[2]/monomer $/atom:polymerA/polymers[14]/mon[3]/monomer $/atom:polymerA/polymers[14]/mon[4]/monomer
$/angle:bytype45 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[14]/mon[4]/monomer $/atom:polymerA/polymers[14]/mon[5]/monomer $/atom:polymerA/polymers[14]/mon[6]/monomer
$/angle:bytype46 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[15]/mon[0]/monomer $/atom:polymerA/polymers[15]/mon[1]/monomer $/atom:polymerA/polymers[15]/mon[2]/monomer
$/angle:bytype47 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[15]/mon[2]/monomer $/atom:polymerA/polymers[15]/mon[3]/monomer $/atom:polymerA/polymers[15]/mon[4]/monomer
$/angle:bytype48 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[15]/mon[4]/monomer $/atom:polymerA/polymers[15]/mon[5]/monomer $/atom:polymerA/polymers[15]/mon[6]/monomer
$/angle:bytype49 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[16]/mon[0]/monomer $/atom:polymerA/polymers[16]/mon[1]/monomer $/atom:polymerA/polymers[16]/mon[2]/monomer
$/angle:bytype50 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[16]/mon[2]/monomer $/atom:polymerA/polymers[16]/mon[3]/monomer $/atom:polymerA/polymers[16]/mon[4]/monomer
$/angle:bytype51 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[16]/mon[4]/monomer $/atom:polymerA/polymers[16]/mon[5]/monomer $/atom:polymerA/polymers[16]/mon[6]/monomer
$/angle:bytype52 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[17]/mon[0]/monomer $/atom:polymerA/polymers[17]/mon[1]/monomer $/atom:polymerA/polymers[17]/mon[2]/monomer
$/angle:bytype53 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[17]/mon[2]/monomer $/atom:polymerA/polymers[17]/mon[3]/monomer $/atom:polymerA/polymers[17]/mon[4]/monomer
$/angle:bytype54 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[17]/mon[4]/monomer $/atom:polymerA/polymers[17]/mon[5]/monomer $/atom:polymerA/polymers[17]/mon[6]/monomer
$/angle:bytype55 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[18]/mon[0]/monomer $/atom:polymerA/polymers[18]/mon[1]/monomer $/atom:polymerA/polymers[18]/mon[2]/monomer
$/angle:bytype56 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[18]/mon[2]/monomer $/atom:polymerA/polymers[18]/mon[3]/monomer $/atom:polymerA/polymers[18]/mon[4]/monomer
$/angle:bytype57 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[18]/mon[4]/monomer $/atom:polymerA/polymers[18]/mon[5]/monomer $/atom:polymerA/polymers[18]/mon[6]/monomer
$/angle:bytype58 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[19]/mon[0]/monomer $/atom:polymerA/polymers[19]/mon[1]/monomer $/atom:polymerA/polymers[19]/mon[2]/monomer
$/angle:bytype59 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[19]/mon[2]/monomer $/atom:polymerA/polymers[19]/mon[3]/monomer $/atom:polymerA/polymers[19]/mon[4]/monomer
$/angle:bytype60 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[19]/mon[4]/monomer $/atom:polymerA/polymers[19]/mon[5]/monomer $/atom:polymerA/polymers[19]/mon[6]/monomer
$/angle:bytype61 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[20]/mon[0]/monomer $/atom:polymerA/polymers[20]/mon[1]/monomer $/atom:polymerA/polymers[20]/mon[2]/monomer
$/angle:bytype62 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[20]/mon[2]/monomer $/atom:polymerA/polymers[20]/mon[3]/monomer $/atom:polymerA/polymers[20]/mon[4]/monomer
$/angle:bytype63 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[20]/mon[4]/monomer $/atom:polymerA/polymers[20]/mon[5]/monomer $/atom:polymerA/polymers[20]/mon[6]/monomer
$/angle:bytype64 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[21]/mon[0]/monomer $/atom:polymerA/polymers[21]/mon[1]/monomer $/atom:polymerA/polymers[21]/mon[2]/monomer
$/angle:bytype65 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[21]/mon[2]/monomer $/atom:polymerA/polymers[21]/mon[3]/monomer $/atom:polymerA/polymers[21]/mon[4]/monomer
$/angle:bytype66 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[21]/mon[4]/monomer $/atom:polymerA/polymers[21]/mon[5]/monomer $/atom:polymerA/polymers[21]/mon[6]/monomer
$/angle:bytype67 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[22]/mon[0]/monomer $/atom:polymerA/polymers[22]/mon[1]/monomer $/atom:polymerA/polymers[22]/mon[2]/monomer
$/angle:bytype68 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[22]/mon[2]/monomer $/atom:polymerA/polymers[22]/mon[3]/monomer $/atom:polymerA/polymers[22]/mon[4]/monomer
$/angle:bytype69 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[22]/mon[4]/monomer $/atom:polymerA/polymers[22]/mon[5]/monomer $/atom:polymerA/polymers[22]/mon[6]/monomer
$/angle:bytype70 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[23]/mon[0]/monomer $/atom:polymerA/polymers[23]/mon[1]/monomer $/atom:polymerA/polymers[23]/mon[2]/monomer
$/angle:bytype71 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[23]/mon[2]/monomer $/atom:polymerA/polymers[23]/mon[3]/monomer $/atom:polymerA/polymers[23]/mon[4]/monomer
$/angle:bytype72 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[23]/mon[4]/monomer $/atom:polymerA/polymers[23]/mon[5]/monomer $/atom:polymerA/polymers[23]/mon[6]/monomer
$/angle:bytype73 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[24]/mon[0]/monomer $/atom:polymerA/polymers[24]/mon[1]/monomer $/atom:polymerA/polymers[24]/mon[2]/monomer
$/angle:bytype74 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[24]/mon[2]/monomer $/atom:polymerA/polymers[24]/mon[3]/monomer $/atom:polymerA/polymers[24]/mon[4]/monomer
$/angle:bytype75 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[24]/mon[4]/monomer $/atom:polymerA/polymers[24]/mon[5]/monomer $/atom:polymerA/polymers[24]/mon[6]/monomer
$/angle:bytype76 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[25]/mon[0]/monomer $/atom:polymerA/polymers[25]/mon[1]/monomer $/atom:polymerA/polymers[25]/mon[2]/monomer
$/angle:bytype77 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[25]/mon[2]/monomer $/atom:polymerA/polymers[25]/mon[3]/monomer $/atom:polymerA/polymers[25]/mon[4]/monomer
$/angle:bytype78 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[25]/mon[4]/monomer $/atom:polymerA/polymers[25]/mon[5]/monomer $/atom:polymerA/polymers[25]/mon[6]/monomer
$/angle:bytype79 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[26]/mon[0]/monomer $/atom:polymerA/polymers[26]/mon[1]/monomer $/atom:polymerA/polymers[26]/mon[2]/monomer
$/angle:bytype80 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[26]/mon[2]/monomer $/atom:polymerA/polymers[26]/mon[3]/monomer $/atom:polymerA/polymers[26]/mon[4]/monomer
$/angle:bytype81 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[26]/mon[4]/monomer $/atom:polymerA/polymers[26]/mon[5]/monomer $/atom:polymerA/polymers[26]/mon[6]/monomer
$/angle:bytype82 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[27]/mon[0]/monomer $/atom:polymerA/polymers[27]/mon[1]/monomer $/atom:polymerA/polymers[27]/mon[2]/monomer
$/angle:bytype83 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[27]/mon[2]/monomer $/atom:polymerA/polymers[27]/mon[3]/monomer $/atom:polymerA/polymers[27]/mon[4]/monomer
$/angle:bytype84 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[27]/mon[4]/monomer $/atom:polymerA/polymers[27]/mon[5]/monomer $/atom:polymerA/polymers[27]/mon[6]/monomer
$/angle:bytype85 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[28]/mon[0]/monomer $/atom:polymerA/polymers[28]/mon[1]/monomer $/atom:polymerA/polymers[28]/mon[2]/monomer
$/angle:bytype86 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[28]/mon[2]/monomer $/atom:polymerA/polymers[28]/mon[3]/monomer $/atom:polymerA/polymers[28]/mon[4]/monomer
$/angle:bytype87 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[28]/mon[4]/monomer $/atom:polymerA/polymers[28]/mon[5]/monomer $/atom:polymerA/polymers[28]/mon[6]/monomer
$/angle:bytype88 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[29]/mon[0]/monomer $/atom:polymerA/polymers[29]/mon[1]/monomer $/atom:polymerA/polymers[29]/mon[2]/monomer
$/angle:bytype89 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[29]/mon[2]/monomer $/atom:polymerA/polymers[29]/mon[3]/monomer $/atom:polymerA/polymers[29]/mon[4]/monomer
$/angle:bytype90 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[29]/mon[4]/monomer $/atom:polymerA/polymers[29]/mon[5]/monomer $/atom:polymerA/polymers[29]/mon[6]/monomer
$/angle:bytype91 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[30]/mon[0]/monomer $/atom:polymerA/polymers[30]/mon[1]/monomer $/atom:polymerA/polymers[30]/mon[2]/monomer
$/angle:bytype92 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[30]/mon[2]/monomer $/atom:polymerA/polymers[30]/mon[3]/monomer $/atom:polymerA/polymers[30]/mon[4]/monomer
$/angle:bytype93 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[30]/mon[4]/monomer $/atom:polymerA/polymers[30]/mon[5]/monomer $/atom:polymerA/polymers[30]/mon[6]/monomer
$/angle:bytype94 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[31]/mon[0]/monomer $/atom:polymerA/polymers[31]/mon[1]/monomer $/atom:polymerA/polymers[31]/mon[2]/monomer
$/angle:bytype95 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[31]/mon[2]/monomer $/atom:polymerA/polymers[31]/mon[3]/monomer $/atom:polymerA/polymers[31]/mon[4]/monomer
$/angle:bytype96 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[31]/mon[4]/monomer $/atom:polymerA/polymers[31]/mon[5]/monomer $/atom:polymerA/polymers[31]/mon[6]/monomer
$/angle:bytype97 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[32]/mon[0]/monomer $/atom:polymerA/polymers[32]/mon[1]/monomer $/atom:polymerA/polymers[32]/mon[2]/monomer
$/angle:bytype98 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[32]/mon[2]/monomer $/atom:polymerA/polymers[32]/mon[3]/monomer $/atom:polymerA/polymers[32]/mon[4]/monomer
$/angle:bytype99 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[32]/mon[4]/monomer $/atom:polymerA/polymers[32]/mon[5]/monomer $/atom:polymerA/polymers[32]/mon[6]/monomer
$/angle:bytype100 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[33]/mon[0]/monomer $/atom:polymerA/polymers[33]/mon[1]/monomer $/atom:polymerA/polymers[33]/mon[2]/monomer
$/angle:bytype101 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[33]/mon[2]/monomer $/atom:polymerA/polymers[33]/mon[3]/monomer $/atom:polymerA/polymers[33]/mon[4]/monomer
$/angle:bytype102 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[33]/mon[4]/monomer $/atom:polymerA/polymers[33]/mon[5]/monomer $/atom:polymerA/polymers[33]/mon[6]/monomer
$/angle:bytype103 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[34]/mon[0]/monomer $/atom:polymerA/polymers[34]/mon[1]/monomer $/atom:polymerA/polymers[34]/mon[2]/monomer
$/angle:bytype104 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[34]/mon[2]/monomer $/atom:polymerA/polymers[34]/mon[3]/monomer $/atom:polymerA/polymers[34]/mon[4]/monomer
$/angle:bytype105 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[34]/mon[4]/monomer $/atom:polymerA/polymers[34]/mon[5]/monomer $/atom:polymerA/polymers[34]/mon[6]/monomer
$/angle:bytype106 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[35]/mon[0]/monomer $/atom:polymerA/polymers[35]/mon[1]/monomer $/atom:polymerA/polymers[35]/mon[2]/monomer
$/angle:bytype107 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[35]/mon[2]/monomer $/atom:polymerA/polymers[35]/mon[3]/monomer $/atom:polymerA/polymers[35]/mon[4]/monomer
$/angle:bytype108 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[35]/mon[4]/monomer $/atom:polymerA/polymers[35]/mon[5]/monomer $/atom:polymerA/polymers[35]/mon[6]/monomer
$/angle:bytype109 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[36]/mon[0]/monomer $/atom:polymerA/polymers[36]/mon[1]/monomer $/atom:polymerA/polymers[36]/mon[2]/monomer
$/angle:bytype110 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[36]/mon[2]/monomer $/atom:polymerA/polymers[36]/mon[3]/monomer $/atom:polymerA/polymers[36]/mon[4]/monomer
$/angle:bytype111 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[36]/mon[4]/monomer $/atom:polymerA/polymers[36]/mon[5]/monomer $/atom:polymerA/polymers[36]/mon[6]/monomer
$/angle:bytype112 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[37]/mon[0]/monomer $/atom:polymerA/polymers[37]/mon[1]/monomer $/atom:polymerA/polymers[37]/mon[2]/monomer
$/angle:bytype113 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[37]/mon[2]/monomer $/atom:polymerA/polymers[37]/mon[3]/monomer $/atom:polymerA/polymers[37]/mon[4]/monomer
$/angle:bytype114 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[37]/mon[4]/monomer $/atom:polymerA/polymers[37]/mon[5]/monomer $/atom:polymerA/polymers[37]/mon[6]/monomer
$/angle:bytype115 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[38]/mon[0]/monomer $/atom:polymerA/polymers[38]/mon[1]/monomer $/atom:polymerA/polymers[38]/mon[2]/monomer
$/angle:bytype116 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[38]/mon[2]/monomer $/atom:polymerA/polymers[38]/mon[3]/monomer $/atom:polymerA/polymers[38]/mon[4]/monomer
$/angle:bytype117 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[38]/mon[4]/monomer $/atom:polymerA/polymers[38]/mon[5]/monomer $/atom:polymerA/polymers[38]/mon[6]/monomer
$/angle:bytype118 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[39]/mon[0]/monomer $/atom:polymerA/polymers[39]/mon[1]/monomer $/atom:polymerA/polymers[39]/mon[2]/monomer
$/angle:bytype119 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[39]/mon[2]/monomer $/atom:polymerA/polymers[39]/mon[3]/monomer $/atom:polymerA/polymers[39]/mon[4]/monomer
$/angle:bytype120 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[39]/mon[4]/monomer $/atom:polymerA/polymers[39]/mon[5]/monomer $/atom:polymerA/polymers[39]/mon[6]/monomer
$/angle:bytype121 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[40]/mon[0]/monomer $/atom:polymerA/polymers[40]/mon[1]/monomer $/atom:polymerA/polymers[40]/mon[2]/monomer
$/angle:bytype122 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[40]/mon[2]/monomer $/atom:polymerA/polymers[40]/mon[3]/monomer $/atom:polymerA/polymers[40]/mon[4]/monomer
$/angle:bytype123 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[40]/mon[4]/monomer $/atom:polymerA/polymers[40]/mon[5]/monomer $/atom:polymerA/polymers[40]/mon[6]/monomer
$/angle:bytype124 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[41]/mon[0]/monomer $/atom:polymerA/polymers[41]/mon[1]/monomer $/atom:polymerA/polymers[41]/mon[2]/monomer
$/angle:bytype125 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[41]/mon[2]/monomer $/atom:polymerA/polymers[41]/mon[3]/monomer $/atom:polymerA/polymers[41]/mon[4]/monomer
$/angle:bytype126 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[41]/mon[4]/monomer $/atom:polymerA/polymers[41]/mon[5]/monomer $/atom:polymerA/polymers[41]/mon[6]/monomer
$/angle:bytype127 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[42]/mon[0]/monomer $/atom:polymerA/polymers[42]/mon[1]/monomer $/atom:polymerA/polymers[42]/mon[2]/monomer
$/angle:bytype128 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[42]/mon[2]/monomer $/atom:polymerA/polymers[42]/mon[3]/monomer $/atom:polymerA/polymers[42]/mon[4]/monomer
$/angle:bytype129 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[42]/mon[4]/monomer $/atom:polymerA/polymers[42]/mon[5]/monomer $/atom:polymerA/polymers[42]/mon[6]/monomer
$/angle:bytype130 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[43]/mon[0]/monomer $/atom:polymerA/polymers[43]/mon[1]/monomer $/atom:polymerA/polymers[43]/mon[2]/monomer
$/angle:bytype131 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[43]/mon[2]/monomer $/atom:polymerA/polymers[43]/mon[3]/monomer $/atom:polymerA/polymers[43]/mon[4]/monomer
$/angle:bytype132 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[43]/mon[4]/monomer $/atom:polymerA/polymers[43]/mon[5]/monomer $/atom:polymerA/polymers[43]/mon[6]/monomer
$/angle:bytype133 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[44]/mon[0]/monomer $/atom:polymerA/polymers[44]/mon[1]/monomer $/atom:polymerA/polymers[44]/mon[2]/monomer
$/angle:bytype134 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[44]/mon[2]/monomer $/atom:polymerA/polymers[44]/mon[3]/monomer $/atom:polymerA/polymers[44]/mon[4]/monomer
$/angle:bytype135 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[44]/mon[4]/monomer $/atom:polymerA/polymers[44]/mon[5]/monomer $/atom:polymerA/polymers[44]/mon[6]/monomer
$/angle:bytype136 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[45]/mon[0]/monomer $/atom:polymerA/polymers[45]/mon[1]/monomer $/atom:polymerA/polymers[45]/mon[2]/monomer
$/angle:bytype137 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[45]/mon[2]/monomer $/atom:polymerA/polymers[45]/mon[3]/monomer $/atom:polymerA/polymers[45]/mon[4]/monomer
$/angle:bytype138 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[45]/mon[4]/monomer $/atom:polymerA/polymers[45]/mon[5]/monomer $/atom:polymerA/polymers[45]/mon[6]/monomer
$/angle:bytype139 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[46]/mon[0]/monomer $/atom:polymerA/polymers[46]/mon[1]/monomer $/atom:polymerA/polymers[46]/mon[2]/monomer
$/angle:bytype140 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[46]/mon[2]/monomer $/atom:polymerA/polymers[46]/mon[3]/monomer $/atom:polymerA/polymers[46]/mon[4]/monomer
$/angle:bytype141 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[46]/mon[4]/monomer $/atom:polymerA/polymers[46]/mon[5]/monomer $/atom:polymerA/polymers[46]/mon[6]/monomer
$/angle:bytype142 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[47]/mon[0]/monomer $/atom:polymerA/polymers[47]/mon[1]/monomer $/atom:polymerA/polymers[47]/mon[2]/monomer
$/angle:bytype143 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[47]/mon[2]/monomer $/atom:polymerA/polymers[47]/mon[3]/monomer $/atom:polymerA/polymers[47]/mon[4]/monomer
$/angle:bytype144 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[47]/mon[4]/monomer $/atom:polymerA/polymers[47]/mon[5]/monomer $/atom:polymerA/polymers[47]/mon[6]/monomer
$/angle:bytype145 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[48]/mon[0]/monomer $/atom:polymerA/polymers[48]/mon[1]/monomer $/atom:polymerA/polymers[48]/mon[2]/monomer
$/angle:bytype146 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[48]/mon[2]/monomer $/atom:polymerA/polymers[48]/mon[3]/monomer $/atom:polymerA/polymers[48]/mon[4]/monomer
$/angle:bytype147 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[48]/mon[4]/monomer $/atom:polymerA/polymers[48]/mon[5]/monomer $/atom:polymerA/polymers[48]/mon[6]/monomer
$/angle:bytype148 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[49]/mon[0]/monomer $/atom:polymerA/polymers[49]/mon[1]/monomer $/atom:polymerA/polymers[49]/mon[2]/monomer
$/angle:bytype149 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[49]/mon[2]/monomer $/atom:polymerA/polymers[49]/mon[3]/monomer $/atom:polymerA/polymers[49]/mon[4]/monomer
$/angle:bytype150 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[49]/mon[4]/monomer $/atom:polymerA/polymers[49]/mon[5]/monomer $/atom:polymerA/polymers[49]/mon[6]/monomer
$/angle:bytype151 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[50]/mon[0]/monomer $/atom:polymerA/polymers[50]/mon[1]/monomer $/atom:polymerA/polymers[50]/mon[2]/monomer
$/angle:bytype152 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[50]/mon[2]/monomer $/atom:polymerA/polymers[50]/mon[3]/monomer $/atom:polymerA/polymers[50]/mon[4]/monomer
$/angle:bytype153 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[50]/mon[4]/monomer $/atom:polymerA/polymers[50]/mon[5]/monomer $/atom:polymerA/polymers[50]/mon[6]/monomer
$/angle:bytype154 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[51]/mon[0]/monomer $/atom:polymerA/polymers[51]/mon[1]/monomer $/atom:polymerA/polymers[51]/mon[2]/monomer
$/angle:bytype155 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[51]/mon[2]/monomer $/atom:polymerA/polymers[51]/mon[3]/monomer $/atom:polymerA/polymers[51]/mon[4]/monomer
$/angle:bytype156 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[51]/mon[4]/monomer $/atom:polymerA/polymers[51]/mon[5]/monomer $/atom:polymerA/polymers[51]/mon[6]/monomer
$/angle:bytype157 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[52]/mon[0]/monomer $/atom:polymerA/polymers[52]/mon[1]/monomer $/atom:polymerA/polymers[52]/mon[2]/monomer
$/angle:bytype158 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[52]/mon[2]/monomer $/atom:polymerA/polymers[52]/mon[3]/monomer $/atom:polymerA/polymers[52]/mon[4]/monomer
$/angle:bytype159 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[52]/mon[4]/monomer $/atom:polymerA/polymers[52]/mon[5]/monomer $/atom:polymerA/polymers[52]/mon[6]/monomer
$/angle:bytype160 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[53]/mon[0]/monomer $/atom:polymerA/polymers[53]/mon[1]/monomer $/atom:polymerA/polymers[53]/mon[2]/monomer
$/angle:bytype161 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[53]/mon[2]/monomer $/atom:polymerA/polymers[53]/mon[3]/monomer $/atom:polymerA/polymers[53]/mon[4]/monomer
$/angle:bytype162 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[53]/mon[4]/monomer $/atom:polymerA/polymers[53]/mon[5]/monomer $/atom:polymerA/polymers[53]/mon[6]/monomer
$/angle:bytype163 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[54]/mon[0]/monomer $/atom:polymerA/polymers[54]/mon[1]/monomer $/atom:polymerA/polymers[54]/mon[2]/monomer
$/angle:bytype164 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[54]/mon[2]/monomer $/atom:polymerA/polymers[54]/mon[3]/monomer $/atom:polymerA/polymers[54]/mon[4]/monomer
$/angle:bytype165 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[54]/mon[4]/monomer $/atom:polymerA/polymers[54]/mon[5]/monomer $/atom:polymerA/polymers[54]/mon[6]/monomer
$/angle:bytype166 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[55]/mon[0]/monomer $/atom:polymerA/polymers[55]/mon[1]/monomer $/atom:polymerA/polymers[55]/mon[2]/monomer
$/angle:bytype167 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[55]/mon[2]/monomer $/atom:polymerA/polymers[55]/mon[3]/monomer $/atom:polymerA/polymers[55]/mon[4]/monomer
$/angle:bytype168 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[55]/mon[4]/monomer $/atom:polymerA/polymers[55]/mon[5]/monomer $/atom:polymerA/polymers[55]/mon[6]/monomer
$/angle:bytype169 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[56]/mon[0]/monomer $/atom:polymerA/polymers[56]/mon[1]/monomer $/atom:polymerA/polymers[56]/mon[2]/monomer
$/angle:bytype170 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[56]/mon[2]/monomer $/atom:polymerA/polymers[56]/mon[3]/monomer $/atom:polymerA/polymers[56]/mon[4]/monomer
$/angle:bytype171 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[56]/mon[4]/monomer $/atom:polymerA/polymers[56]/mon[5]/monomer $/atom:polymerA/polymers[56]/mon[6]/monomer
$/angle:bytype172 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[57]/mon[0]/monomer $/atom:polymerA/polymers[57]/mon[1]/monomer $/atom:polymerA/polymers[57]/mon[2]/monomer
$/angle:bytype173 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[57]/mon[2]/monomer $/atom:polymerA/polymers[57]/mon[3]/monomer $/atom:polymerA/polymers[57]/mon[4]/monomer
$/angle:bytype174 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[57]/mon[4]/monomer $/atom:polymerA/polymers[57]/mon[5]/monomer $/atom:polymerA/polymers[57]/mon[6]/monomer
$/angle:bytype175 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[58]/mon[0]/monomer $/atom:polymerA/polymers[58]/mon[1]/monomer $/atom:polymerA/polymers[58]/mon[2]/monomer
$/angle:bytype176 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[58]/mon[2]/monomer $/atom:polymerA/polymers[58]/mon[3]/monomer $/atom:polymerA/polymers[58]/mon[4]/monomer
$/angle:bytype177 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[58]/mon[4]/monomer $/atom:polymerA/polymers[58]/mon[5]/monomer $/atom:polymerA/polymers[58]/mon[6]/monomer
$/angle:bytype178 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[59]/mon[0]/monomer $/atom:polymerA/polymers[59]/mon[1]/monomer $/atom:polymerA/polymers[59]/mon[2]/monomer
$/angle:bytype179 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[59]/mon[2]/monomer $/atom:polymerA/polymers[59]/mon[3]/monomer $/atom:polymerA/polymers[59]/mon[4]/monomer
$/angle:bytype180 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[59]/mon[4]/monomer $/atom:polymerA/polymers[59]/mon[5]/monomer $/atom:polymerA/polymers[59]/mon[6]/monomer
$/angle:bytype181 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[60]/mon[0]/monomer $/atom:polymerA/polymers[60]/mon[1]/monomer $/atom:polymerA/polymers[60]/mon[2]/monomer
$/angle:bytype182 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[60]/mon[2]/monomer $/atom:polymerA/polymers[60]/mon[3]/monomer $/atom:polymerA/polymers[60]/mon[4]/monomer
$/angle:bytype183 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[60]/mon[4]/monomer $/atom:polymerA/polymers[60]/mon[5]/monomer $/atom:polymerA/polymers[60]/mon[6]/monomer
$/angle:bytype184 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[61]/mon[0]/monomer $/atom:polymerA/polymers[61]/mon[1]/monomer $/atom:polymerA/polymers[61]/mon[2]/monomer
$/angle:bytype185 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[61]/mon[2]/monomer $/atom:polymerA/polymers[61]/mon[3]/monomer $/atom:polymerA/polymers[61]/mon[4]/monomer
$/angle:bytype186 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[61]/mon[4]/monomer $/atom:polymerA/polymers[61]/mon[5]/monomer $/atom:polymerA/polymers[61]/mon[6]/monomer
$/angle:bytype187 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[62]/mon[0]/monomer $/atom:polymerA/polymers[62]/mon[1]/monomer $/atom:polymerA/polymers[62]/mon[2]/monomer
$/angle:bytype188 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[62]/mon[2]/monomer $/atom:polymerA/polymers[62]/mon[3]/monomer $/atom:polymerA/polymers[62]/mon[4]/monomer
$/angle:bytype189 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[62]/mon[4]/monomer $/atom:polymerA/polymers[62]/mon[5]/monomer $/atom:polymerA/polymers[62]/mon[6]/monomer
$/angle:bytype190 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[63]/mon[0]/monomer $/atom:polymerA/polymers[63]/mon[1]/monomer $/atom:polymerA/polymers[63]/mon[2]/monomer
$/angle:bytype191 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[63]/mon[2]/monomer $/atom:polymerA/polymers[63]/mon[3]/monomer $/atom:polymerA/polymers[63]/mon[4]/monomer
$/angle:bytype192 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[63]/mon[4]/monomer $/atom:polymerA/polymers[63]/mon[5]/monomer $/atom:polymerA/polymers[63]/mon[6]/monomer
$/angle:bytype193 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[64]/mon[0]/monomer $/atom:polymerA/polymers[64]/mon[1]/monomer $/atom:polymerA/polymers[64]/mon[2]/monomer
$/angle:bytype194 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[64]/mon[2]/monomer $/atom:polymerA/polymers[64]/mon[3]/monomer $/atom:polymerA/polymers[64]/mon[4]/monomer
$/angle:bytype195 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[64]/mon[4]/monomer $/atom:polymerA/polymers[64]/mon[5]/monomer $/atom:polymerA/polymers[64]/mon[6]/monomer
$/angle:bytype196 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[65]/mon[0]/monomer $/atom:polymerA/polymers[65]/mon[1]/monomer $/atom:polymerA/polymers[65]/mon[2]/monomer
$/angle:bytype197 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[65]/mon[2]/monomer $/atom:polymerA/polymers[65]/mon[3]/monomer $/atom:polymerA/polymers[65]/mon[4]/monomer
$/angle:bytype198 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[65]/mon[4]/monomer $/atom:polymerA/polymers[65]/mon[5]/monomer $/atom:polymerA/polymers[65]/mon[6]/monomer
$/angle:bytype199 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[66]/mon[0]/monomer $/atom:polymerA/polymers[66]/mon[1]/monomer $/atom:polymerA/polymers[66]/mon[2]/monomer
$/angle:bytype200 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[66]/mon[2]/monomer $/atom:polymerA/polymers[66]/mon[3]/monomer $/atom:polymerA/polymers[66]/mon[4]/monomer
$/angle:bytype201 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[66]/mon[4]/monomer $/atom:polymerA/polymers[66]/mon[5]/monomer $/atom:polymerA/polymers[66]/mon[6]/monomer
$/angle:bytype202 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[67]/mon[0]/monomer $/atom:polymerA/polymers[67]/mon[1]/monomer $/atom:polymerA/polymers[67]/mon[2]/monomer
$/angle:bytype203 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[67]/mon[2]/monomer $/atom:polymerA/polymers[67]/mon[3]/monomer $/atom:polymerA/polymers[67]/mon[4]/monomer
$/angle:bytype204 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[67]/mon[4]/monomer $/atom:polymerA/polymers[67]/mon[5]/monomer $/atom:polymerA/polymers[67]/mon[6]/monomer
$/angle:bytype205 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[68]/mon[0]/monomer $/atom:polymerA/polymers[68]/mon[1]/monomer $/atom:polymerA/polymers[68]/mon[2]/monomer
$/angle:bytype206 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[68]/mon[2]/monomer $/atom:polymerA/polymers[68]/mon[3]/monomer $/atom:polymerA/polymers[68]/mon[4]/monomer
$/angle:bytype207 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[68]/mon[4]/monomer $/atom:polymerA/polymers[68]/mon[5]/monomer $/atom:polymerA/polymers[68]/mon[6]/monomer
$/angle:bytype208 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[69]/mon[0]/monomer $/atom:polymerA/polymers[69]/mon[1]/monomer $/atom:polymerA/polymers[69]/mon[2]/monomer
$/angle:bytype209 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[69]/mon[2]/monomer $/atom:polymerA/polymers[69]/mon[3]/monomer $/atom:polymerA/polymers[69]/mon[4]/monomer
$/angle:bytype210 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[69]/mon[4]/monomer $/atom:polymerA/polymers[69]/mon[5]/monomer $/atom:polymerA/polymers[69]/mon[6]/monomer
$/angle:bytype211 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[70]/mon[0]/monomer $/atom:polymerA/polymers[70]/mon[1]/monomer $/atom:polymerA/polymers[70]/mon[2]/monomer
$/angle:bytype212 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[70]/mon[2]/monomer $/atom:polymerA/polymers[70]/mon[3]/monomer $/atom:polymerA/polymers[70]/mon[4]/monomer
$/angle:bytype213 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[70]/mon[4]/monomer $/atom:polymerA/polymers[70]/mon[5]/monomer $/atom:polymerA/polymers[70]/mon[6]/monomer
$/angle:bytype214 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[71]/mon[0]/monomer $/atom:polymerA/polymers[71]/mon[1]/monomer $/atom:polymerA/polymers[71]/mon[2]/monomer
$/angle:bytype215 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[71]/mon[2]/monomer $/atom:polymerA/polymers[71]/mon[3]/monomer $/atom:polymerA/polymers[71]/mon[4]/monomer
$/angle:bytype216 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[71]/mon[4]/monomer $/atom:polymerA/polymers[71]/mon[5]/monomer $/atom:polymerA/polymers[71]/mon[6]/monomer
$/angle:bytype217 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[72]/mon[0]/monomer $/atom:polymerA/polymers[72]/mon[1]/monomer $/atom:polymerA/polymers[72]/mon[2]/monomer
$/angle:bytype218 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[72]/mon[2]/monomer $/atom:polymerA/polymers[72]/mon[3]/monomer $/atom:polymerA/polymers[72]/mon[4]/monomer
$/angle:bytype219 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[72]/mon[4]/monomer $/atom:polymerA/polymers[72]/mon[5]/monomer $/atom:polymerA/polymers[72]/mon[6]/monomer
$/angle:bytype220 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[73]/mon[0]/monomer $/atom:polymerA/polymers[73]/mon[1]/monomer $/atom:polymerA/polymers[73]/mon[2]/monomer
$/angle:bytype221 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[73]/mon[2]/monomer $/atom:polymerA/polymers[73]/mon[3]/monomer $/atom:polymerA/polymers[73]/mon[4]/monomer
$/angle:bytype222 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[73]/mon[4]/monomer $/atom:polymerA/polymers[73]/mon[5]/monomer $/atom:polymerA/polymers[73]/mon[6]/monomer
$/angle:bytype223 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[74]/mon[0]/monomer $/atom:polymerA/polymers[74]/mon[1]/monomer $/atom:polymerA/polymers[74]/mon[2]/monomer
$/angle:bytype224 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[74]/mon[2]/monomer $/atom:polymerA/polymers[74]/mon[3]/monomer $/atom:polymerA/polymers[74]/mon[4]/monomer
$/angle:bytype225 @/angle:COPOLYFF/ABA $/atom:polymerA/polymers[74]/mon[4]/monomer $/atom:polymerA/polymers[74]/mon[5]/monomer $/atom:polymerA/polymers[74]/mon[6]/monomer
$/angle:bytype226 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[0]/mon[1]/monomer $/atom:polymerA/polymers[0]/mon[2]/monomer $/atom:polymerA/polymers[0]/mon[3]/monomer
$/angle:bytype227 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[0]/mon[3]/monomer $/atom:polymerA/polymers[0]/mon[4]/monomer $/atom:polymerA/polymers[0]/mon[5]/monomer
$/angle:bytype228 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[0]/mon[5]/monomer $/atom:polymerA/polymers[0]/mon[6]/monomer $/atom:polymerA/polymers[0]/mon[7]/monomer
$/angle:bytype229 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[1]/mon[1]/monomer $/atom:polymerA/polymers[1]/mon[2]/monomer $/atom:polymerA/polymers[1]/mon[3]/monomer
$/angle:bytype230 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[1]/mon[3]/monomer $/atom:polymerA/polymers[1]/mon[4]/monomer $/atom:polymerA/polymers[1]/mon[5]/monomer
$/angle:bytype231 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[1]/mon[5]/monomer $/atom:polymerA/polymers[1]/mon[6]/monomer $/atom:polymerA/polymers[1]/mon[7]/monomer
$/angle:bytype232 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[2]/mon[1]/monomer $/atom:polymerA/polymers[2]/mon[2]/monomer $/atom:polymerA/polymers[2]/mon[3]/monomer
$/angle:bytype233 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[2]/mon[3]/monomer $/atom:polymerA/polymers[2]/mon[4]/monomer $/atom:polymerA/polymers[2]/mon[5]/monomer
$/angle:bytype234 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[2]/mon[5]/monomer $/atom:polymerA/polymers[2]/mon[6]/monomer $/atom:polymerA/polymers[2]/mon[7]/monomer
$/angle:bytype235 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[3]/mon[1]/monomer $/atom:polymerA/polymers[3]/mon[2]/monomer $/atom:polymerA/polymers[3]/mon[3]/monomer
$/angle:bytype236 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[3]/mon[3]/monomer $/atom:polymerA/polymers[3]/mon[4]/monomer $/atom:polymerA/polymers[3]/mon[5]/monomer
$/angle:bytype237 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[3]/mon[5]/monomer $/atom:polymerA/polymers[3]/mon[6]/monomer $/atom:polymerA/polymers[3]/mon[7]/monomer
$/angle:bytype238 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[4]/mon[1]/monomer $/atom:polymerA/polymers[4]/mon[2]/monomer $/atom:polymerA/polymers[4]/mon[3]/monomer
$/angle:bytype239 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[4]/mon[3]/monomer $/atom:polymerA/polymers[4]/mon[4]/monomer $/atom:polymerA/polymers[4]/mon[5]/monomer
$/angle:bytype240 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[4]/mon[5]/monomer $/atom:polymerA/polymers[4]/mon[6]/monomer $/atom:polymerA/polymers[4]/mon[7]/monomer
$/angle:bytype241 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[5]/mon[1]/monomer $/atom:polymerA/polymers[5]/mon[2]/monomer $/atom:polymerA/polymers[5]/mon[3]/monomer
$/angle:bytype242 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[5]/mon[3]/monomer $/atom:polymerA/polymers[5]/mon[4]/monomer $/atom:polymerA/polymers[5]/mon[5]/monomer
$/angle:bytype243 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[5]/mon[5]/monomer $/atom:polymerA/polymers[5]/mon[6]/monomer $/atom:polymerA/polymers[5]/mon[7]/monomer
$/angle:bytype244 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[6]/mon[1]/monomer $/atom:polymerA/polymers[6]/mon[2]/monomer $/atom:polymerA/polymers[6]/mon[3]/monomer
$/angle:bytype245 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[6]/mon[3]/monomer $/atom:polymerA/polymers[6]/mon[4]/monomer $/atom:polymerA/polymers[6]/mon[5]/monomer
$/angle:bytype246 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[6]/mon[5]/monomer $/atom:polymerA/polymers[6]/mon[6]/monomer $/atom:polymerA/polymers[6]/mon[7]/monomer
$/angle:bytype247 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[7]/mon[1]/monomer $/atom:polymerA/polymers[7]/mon[2]/monomer $/atom:polymerA/polymers[7]/mon[3]/monomer
$/angle:bytype248 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[7]/mon[3]/monomer $/atom:polymerA/polymers[7]/mon[4]/monomer $/atom:polymerA/polymers[7]/mon[5]/monomer
$/angle:bytype249 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[7]/mon[5]/monomer $/atom:polymerA/polymers[7]/mon[6]/monomer $/atom:polymerA/polymers[7]/mon[7]/monomer
$/angle:bytype250 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[8]/mon[1]/monomer $/atom:polymerA/polymers[8]/mon[2]/monomer $/atom:polymerA/polymers[8]/mon[3]/monomer
$/angle:bytype251 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[8]/mon[3]/monomer $/atom:polymerA/polymers[8]/mon[4]/monomer $/atom:polymerA/polymers[8]/mon[5]/monomer
$/angle:bytype252 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[8]/mon[5]/monomer $/atom:polymerA/polymers[8]/mon[6]/monomer $/atom:polymerA/polymers[8]/mon[7]/monomer
$/angle:bytype253 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[9]/mon[1]/monomer $/atom:polymerA/polymers[9]/mon[2]/monomer $/atom:polymerA/polymers[9]/mon[3]/monomer
$/angle:bytype254 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[9]/mon[3]/monomer $/atom:polymerA/polymers[9]/mon[4]/monomer $/atom:polymerA/polymers[9]/mon[5]/monomer
$/angle:bytype255 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[9]/mon[5]/monomer $/atom:polymerA/polymers[9]/mon[6]/monomer $/atom:polymerA/polymers[9]/mon[7]/monomer
$/angle:bytype256 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[10]/mon[1]/monomer $/atom:polymerA/polymers[10]/mon[2]/monomer $/atom:polymerA/polymers[10]/mon[3]/monomer
$/angle:bytype257 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[10]/mon[3]/monomer $/atom:polymerA/polymers[10]/mon[4]/monomer $/atom:polymerA/polymers[10]/mon[5]/monomer
$/angle:bytype258 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[10]/mon[5]/monomer $/atom:polymerA/polymers[10]/mon[6]/monomer $/atom:polymerA/polymers[10]/mon[7]/monomer
$/angle:bytype259 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[11]/mon[1]/monomer $/atom:polymerA/polymers[11]/mon[2]/monomer $/atom:polymerA/polymers[11]/mon[3]/monomer
$/angle:bytype260 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[11]/mon[3]/monomer $/atom:polymerA/polymers[11]/mon[4]/monomer $/atom:polymerA/polymers[11]/mon[5]/monomer
$/angle:bytype261 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[11]/mon[5]/monomer $/atom:polymerA/polymers[11]/mon[6]/monomer $/atom:polymerA/polymers[11]/mon[7]/monomer
$/angle:bytype262 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[12]/mon[1]/monomer $/atom:polymerA/polymers[12]/mon[2]/monomer $/atom:polymerA/polymers[12]/mon[3]/monomer
$/angle:bytype263 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[12]/mon[3]/monomer $/atom:polymerA/polymers[12]/mon[4]/monomer $/atom:polymerA/polymers[12]/mon[5]/monomer
$/angle:bytype264 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[12]/mon[5]/monomer $/atom:polymerA/polymers[12]/mon[6]/monomer $/atom:polymerA/polymers[12]/mon[7]/monomer
$/angle:bytype265 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[13]/mon[1]/monomer $/atom:polymerA/polymers[13]/mon[2]/monomer $/atom:polymerA/polymers[13]/mon[3]/monomer
$/angle:bytype266 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[13]/mon[3]/monomer $/atom:polymerA/polymers[13]/mon[4]/monomer $/atom:polymerA/polymers[13]/mon[5]/monomer
$/angle:bytype267 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[13]/mon[5]/monomer $/atom:polymerA/polymers[13]/mon[6]/monomer $/atom:polymerA/polymers[13]/mon[7]/monomer
$/angle:bytype268 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[14]/mon[1]/monomer $/atom:polymerA/polymers[14]/mon[2]/monomer $/atom:polymerA/polymers[14]/mon[3]/monomer
$/angle:bytype269 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[14]/mon[3]/monomer $/atom:polymerA/polymers[14]/mon[4]/monomer $/atom:polymerA/polymers[14]/mon[5]/monomer
$/angle:bytype270 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[14]/mon[5]/monomer $/atom:polymerA/polymers[14]/mon[6]/monomer $/atom:polymerA/polymers[14]/mon[7]/monomer
$/angle:bytype271 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[15]/mon[1]/monomer $/atom:polymerA/polymers[15]/mon[2]/monomer $/atom:polymerA/polymers[15]/mon[3]/monomer
$/angle:bytype272 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[15]/mon[3]/monomer $/atom:polymerA/polymers[15]/mon[4]/monomer $/atom:polymerA/polymers[15]/mon[5]/monomer
$/angle:bytype273 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[15]/mon[5]/monomer $/atom:polymerA/polymers[15]/mon[6]/monomer $/atom:polymerA/polymers[15]/mon[7]/monomer
$/angle:bytype274 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[16]/mon[1]/monomer $/atom:polymerA/polymers[16]/mon[2]/monomer $/atom:polymerA/polymers[16]/mon[3]/monomer
$/angle:bytype275 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[16]/mon[3]/monomer $/atom:polymerA/polymers[16]/mon[4]/monomer $/atom:polymerA/polymers[16]/mon[5]/monomer
$/angle:bytype276 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[16]/mon[5]/monomer $/atom:polymerA/polymers[16]/mon[6]/monomer $/atom:polymerA/polymers[16]/mon[7]/monomer
$/angle:bytype277 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[17]/mon[1]/monomer $/atom:polymerA/polymers[17]/mon[2]/monomer $/atom:polymerA/polymers[17]/mon[3]/monomer
$/angle:bytype278 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[17]/mon[3]/monomer $/atom:polymerA/polymers[17]/mon[4]/monomer $/atom:polymerA/polymers[17]/mon[5]/monomer
$/angle:bytype279 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[17]/mon[5]/monomer $/atom:polymerA/polymers[17]/mon[6]/monomer $/atom:polymerA/polymers[17]/mon[7]/monomer
$/angle:bytype280 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[18]/mon[1]/monomer $/atom:polymerA/polymers[18]/mon[2]/monomer $/atom:polymerA/polymers[18]/mon[3]/monomer
$/angle:bytype281 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[18]/mon[3]/monomer $/atom:polymerA/polymers[18]/mon[4]/monomer $/atom:polymerA/polymers[18]/mon[5]/monomer
$/angle:bytype282 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[18]/mon[5]/monomer $/atom:polymerA/polymers[18]/mon[6]/monomer $/atom:polymerA/polymers[18]/mon[7]/monomer
$/angle:bytype283 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[19]/mon[1]/monomer $/atom:polymerA/polymers[19]/mon[2]/monomer $/atom:polymerA/polymers[19]/mon[3]/monomer
$/angle:bytype284 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[19]/mon[3]/monomer $/atom:polymerA/polymers[19]/mon[4]/monomer $/atom:polymerA/polymers[19]/mon[5]/monomer
$/angle:bytype285 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[19]/mon[5]/monomer $/atom:polymerA/polymers[19]/mon[6]/monomer $/atom:polymerA/polymers[19]/mon[7]/monomer
$/angle:bytype286 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[20]/mon[1]/monomer $/atom:polymerA/polymers[20]/mon[2]/monomer $/atom:polymerA/polymers[20]/mon[3]/monomer
$/angle:bytype287 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[20]/mon[3]/monomer $/atom:polymerA/polymers[20]/mon[4]/monomer $/atom:polymerA/polymers[20]/mon[5]/monomer
$/angle:bytype288 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[20]/mon[5]/monomer $/atom:polymerA/polymers[20]/mon[6]/monomer $/atom:polymerA/polymers[20]/mon[7]/monomer
$/angle:bytype289 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[21]/mon[1]/monomer $/atom:polymerA/polymers[21]/mon[2]/monomer $/atom:polymerA/polymers[21]/mon[3]/monomer
$/angle:bytype290 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[21]/mon[3]/monomer $/atom:polymerA/polymers[21]/mon[4]/monomer $/atom:polymerA/polymers[21]/mon[5]/monomer
$/angle:bytype291 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[21]/mon[5]/monomer $/atom:polymerA/polymers[21]/mon[6]/monomer $/atom:polymerA/polymers[21]/mon[7]/monomer
$/angle:bytype292 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[22]/mon[1]/monomer $/atom:polymerA/polymers[22]/mon[2]/monomer $/atom:polymerA/polymers[22]/mon[3]/monomer
$/angle:bytype293 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[22]/mon[3]/monomer $/atom:polymerA/polymers[22]/mon[4]/monomer $/atom:polymerA/polymers[22]/mon[5]/monomer
$/angle:bytype294 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[22]/mon[5]/monomer $/atom:polymerA/polymers[22]/mon[6]/monomer $/atom:polymerA/polymers[22]/mon[7]/monomer
$/angle:bytype295 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[23]/mon[1]/monomer $/atom:polymerA/polymers[23]/mon[2]/monomer $/atom:polymerA/polymers[23]/mon[3]/monomer
$/angle:bytype296 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[23]/mon[3]/monomer $/atom:polymerA/polymers[23]/mon[4]/monomer $/atom:polymerA/polymers[23]/mon[5]/monomer
$/angle:bytype297 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[23]/mon[5]/monomer $/atom:polymerA/polymers[23]/mon[6]/monomer $/atom:polymerA/polymers[23]/mon[7]/monomer
$/angle:bytype298 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[24]/mon[1]/monomer $/atom:polymerA/polymers[24]/mon[2]/monomer $/atom:polymerA/polymers[24]/mon[3]/monomer
$/angle:bytype299 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[24]/mon[3]/monomer $/atom:polymerA/polymers[24]/mon[4]/monomer $/atom:polymerA/polymers[24]/mon[5]/monomer
$/angle:bytype300 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[24]/mon[5]/monomer $/atom:polymerA/polymers[24]/mon[6]/monomer $/atom:polymerA/polymers[24]/mon[7]/monomer
$/angle:bytype301 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[25]/mon[1]/monomer $/atom:polymerA/polymers[25]/mon[2]/monomer $/atom:polymerA/polymers[25]/mon[3]/monomer
$/angle:bytype302 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[25]/mon[3]/monomer $/atom:polymerA/polymers[25]/mon[4]/monomer $/atom:polymerA/polymers[25]/mon[5]/monomer
$/angle:bytype303 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[25]/mon[5]/monomer $/atom:polymerA/polymers[25]/mon[6]/monomer $/atom:polymerA/polymers[25]/mon[7]/monomer
$/angle:bytype304 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[26]/mon[1]/monomer $/atom:polymerA/polymers[26]/mon[2]/monomer $/atom:polymerA/polymers[26]/mon[3]/monomer
$/angle:bytype305 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[26]/mon[3]/monomer $/atom:polymerA/polymers[26]/mon[4]/monomer $/atom:polymerA/polymers[26]/mon[5]/monomer
$/angle:bytype306 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[26]/mon[5]/monomer $/atom:polymerA/polymers[26]/mon[6]/monomer $/atom:polymerA/polymers[26]/mon[7]/monomer
$/angle:bytype307 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[27]/mon[1]/monomer $/atom:polymerA/polymers[27]/mon[2]/monomer $/atom:polymerA/polymers[27]/mon[3]/monomer
$/angle:bytype308 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[27]/mon[3]/monomer $/atom:polymerA/polymers[27]/mon[4]/monomer $/atom:polymerA/polymers[27]/mon[5]/monomer
$/angle:bytype309 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[27]/mon[5]/monomer $/atom:polymerA/polymers[27]/mon[6]/monomer $/atom:polymerA/polymers[27]/mon[7]/monomer
$/angle:bytype310 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[28]/mon[1]/monomer $/atom:polymerA/polymers[28]/mon[2]/monomer $/atom:polymerA/polymers[28]/mon[3]/monomer
$/angle:bytype311 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[28]/mon[3]/monomer $/atom:polymerA/polymers[28]/mon[4]/monomer $/atom:polymerA/polymers[28]/mon[5]/monomer
$/angle:bytype312 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[28]/mon[5]/monomer $/atom:polymerA/polymers[28]/mon[6]/monomer $/atom:polymerA/polymers[28]/mon[7]/monomer
$/angle:bytype313 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[29]/mon[1]/monomer $/atom:polymerA/polymers[29]/mon[2]/monomer $/atom:polymerA/polymers[29]/mon[3]/monomer
$/angle:bytype314 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[29]/mon[3]/monomer $/atom:polymerA/polymers[29]/mon[4]/monomer $/atom:polymerA/polymers[29]/mon[5]/monomer
$/angle:bytype315 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[29]/mon[5]/monomer $/atom:polymerA/polymers[29]/mon[6]/monomer $/atom:polymerA/polymers[29]/mon[7]/monomer
$/angle:bytype316 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[30]/mon[1]/monomer $/atom:polymerA/polymers[30]/mon[2]/monomer $/atom:polymerA/polymers[30]/mon[3]/monomer
$/angle:bytype317 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[30]/mon[3]/monomer $/atom:polymerA/polymers[30]/mon[4]/monomer $/atom:polymerA/polymers[30]/mon[5]/monomer
$/angle:bytype318 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[30]/mon[5]/monomer $/atom:polymerA/polymers[30]/mon[6]/monomer $/atom:polymerA/polymers[30]/mon[7]/monomer
$/angle:bytype319 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[31]/mon[1]/monomer $/atom:polymerA/polymers[31]/mon[2]/monomer $/atom:polymerA/polymers[31]/mon[3]/monomer
$/angle:bytype320 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[31]/mon[3]/monomer $/atom:polymerA/polymers[31]/mon[4]/monomer $/atom:polymerA/polymers[31]/mon[5]/monomer
$/angle:bytype321 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[31]/mon[5]/monomer $/atom:polymerA/polymers[31]/mon[6]/monomer $/atom:polymerA/polymers[31]/mon[7]/monomer
$/angle:bytype322 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[32]/mon[1]/monomer $/atom:polymerA/polymers[32]/mon[2]/monomer $/atom:polymerA/polymers[32]/mon[3]/monomer
$/angle:bytype323 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[32]/mon[3]/monomer $/atom:polymerA/polymers[32]/mon[4]/monomer $/atom:polymerA/polymers[32]/mon[5]/monomer
$/angle:bytype324 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[32]/mon[5]/monomer $/atom:polymerA/polymers[32]/mon[6]/monomer $/atom:polymerA/polymers[32]/mon[7]/monomer
$/angle:bytype325 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[33]/mon[1]/monomer $/atom:polymerA/polymers[33]/mon[2]/monomer $/atom:polymerA/polymers[33]/mon[3]/monomer
$/angle:bytype326 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[33]/mon[3]/monomer $/atom:polymerA/polymers[33]/mon[4]/monomer $/atom:polymerA/polymers[33]/mon[5]/monomer
$/angle:bytype327 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[33]/mon[5]/monomer $/atom:polymerA/polymers[33]/mon[6]/monomer $/atom:polymerA/polymers[33]/mon[7]/monomer
$/angle:bytype328 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[34]/mon[1]/monomer $/atom:polymerA/polymers[34]/mon[2]/monomer $/atom:polymerA/polymers[34]/mon[3]/monomer
$/angle:bytype329 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[34]/mon[3]/monomer $/atom:polymerA/polymers[34]/mon[4]/monomer $/atom:polymerA/polymers[34]/mon[5]/monomer
$/angle:bytype330 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[34]/mon[5]/monomer $/atom:polymerA/polymers[34]/mon[6]/monomer $/atom:polymerA/polymers[34]/mon[7]/monomer
$/angle:bytype331 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[35]/mon[1]/monomer $/atom:polymerA/polymers[35]/mon[2]/monomer $/atom:polymerA/polymers[35]/mon[3]/monomer
$/angle:bytype332 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[35]/mon[3]/monomer $/atom:polymerA/polymers[35]/mon[4]/monomer $/atom:polymerA/polymers[35]/mon[5]/monomer
$/angle:bytype333 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[35]/mon[5]/monomer $/atom:polymerA/polymers[35]/mon[6]/monomer $/atom:polymerA/polymers[35]/mon[7]/monomer
$/angle:bytype334 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[36]/mon[1]/monomer $/atom:polymerA/polymers[36]/mon[2]/monomer $/atom:polymerA/polymers[36]/mon[3]/monomer
$/angle:bytype335 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[36]/mon[3]/monomer $/atom:polymerA/polymers[36]/mon[4]/monomer $/atom:polymerA/polymers[36]/mon[5]/monomer
$/angle:bytype336 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[36]/mon[5]/monomer $/atom:polymerA/polymers[36]/mon[6]/monomer $/atom:polymerA/polymers[36]/mon[7]/monomer
$/angle:bytype337 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[37]/mon[1]/monomer $/atom:polymerA/polymers[37]/mon[2]/monomer $/atom:polymerA/polymers[37]/mon[3]/monomer
$/angle:bytype338 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[37]/mon[3]/monomer $/atom:polymerA/polymers[37]/mon[4]/monomer $/atom:polymerA/polymers[37]/mon[5]/monomer
$/angle:bytype339 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[37]/mon[5]/monomer $/atom:polymerA/polymers[37]/mon[6]/monomer $/atom:polymerA/polymers[37]/mon[7]/monomer
$/angle:bytype340 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[38]/mon[1]/monomer $/atom:polymerA/polymers[38]/mon[2]/monomer $/atom:polymerA/polymers[38]/mon[3]/monomer
$/angle:bytype341 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[38]/mon[3]/monomer $/atom:polymerA/polymers[38]/mon[4]/monomer $/atom:polymerA/polymers[38]/mon[5]/monomer
$/angle:bytype342 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[38]/mon[5]/monomer $/atom:polymerA/polymers[38]/mon[6]/monomer $/atom:polymerA/polymers[38]/mon[7]/monomer
$/angle:bytype343 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[39]/mon[1]/monomer $/atom:polymerA/polymers[39]/mon[2]/monomer $/atom:polymerA/polymers[39]/mon[3]/monomer
$/angle:bytype344 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[39]/mon[3]/monomer $/atom:polymerA/polymers[39]/mon[4]/monomer $/atom:polymerA/polymers[39]/mon[5]/monomer
$/angle:bytype345 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[39]/mon[5]/monomer $/atom:polymerA/polymers[39]/mon[6]/monomer $/atom:polymerA/polymers[39]/mon[7]/monomer
$/angle:bytype346 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[40]/mon[1]/monomer $/atom:polymerA/polymers[40]/mon[2]/monomer $/atom:polymerA/polymers[40]/mon[3]/monomer
$/angle:bytype347 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[40]/mon[3]/monomer $/atom:polymerA/polymers[40]/mon[4]/monomer $/atom:polymerA/polymers[40]/mon[5]/monomer
$/angle:bytype348 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[40]/mon[5]/monomer $/atom:polymerA/polymers[40]/mon[6]/monomer $/atom:polymerA/polymers[40]/mon[7]/monomer
$/angle:bytype349 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[41]/mon[1]/monomer $/atom:polymerA/polymers[41]/mon[2]/monomer $/atom:polymerA/polymers[41]/mon[3]/monomer
$/angle:bytype350 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[41]/mon[3]/monomer $/atom:polymerA/polymers[41]/mon[4]/monomer $/atom:polymerA/polymers[41]/mon[5]/monomer
$/angle:bytype351 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[41]/mon[5]/monomer $/atom:polymerA/polymers[41]/mon[6]/monomer $/atom:polymerA/polymers[41]/mon[7]/monomer
$/angle:bytype352 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[42]/mon[1]/monomer $/atom:polymerA/polymers[42]/mon[2]/monomer $/atom:polymerA/polymers[42]/mon[3]/monomer
$/angle:bytype353 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[42]/mon[3]/monomer $/atom:polymerA/polymers[42]/mon[4]/monomer $/atom:polymerA/polymers[42]/mon[5]/monomer
$/angle:bytype354 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[42]/mon[5]/monomer $/atom:polymerA/polymers[42]/mon[6]/monomer $/atom:polymerA/polymers[42]/mon[7]/monomer
$/angle:bytype355 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[43]/mon[1]/monomer $/atom:polymerA/polymers[43]/mon[2]/monomer $/atom:polymerA/polymers[43]/mon[3]/monomer
$/angle:bytype356 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[43]/mon[3]/monomer $/atom:polymerA/polymers[43]/mon[4]/monomer $/atom:polymerA/polymers[43]/mon[5]/monomer
$/angle:bytype357 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[43]/mon[5]/monomer $/atom:polymerA/polymers[43]/mon[6]/monomer $/atom:polymerA/polymers[43]/mon[7]/monomer
$/angle:bytype358 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[44]/mon[1]/monomer $/atom:polymerA/polymers[44]/mon[2]/monomer $/atom:polymerA/polymers[44]/mon[3]/monomer
$/angle:bytype359 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[44]/mon[3]/monomer $/atom:polymerA/polymers[44]/mon[4]/monomer $/atom:polymerA/polymers[44]/mon[5]/monomer
$/angle:bytype360 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[44]/mon[5]/monomer $/atom:polymerA/polymers[44]/mon[6]/monomer $/atom:polymerA/polymers[44]/mon[7]/monomer
$/angle:bytype361 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[45]/mon[1]/monomer $/atom:polymerA/polymers[45]/mon[2]/monomer $/atom:polymerA/polymers[45]/mon[3]/monomer
$/angle:bytype362 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[45]/mon[3]/monomer $/atom:polymerA/polymers[45]/mon[4]/monomer $/atom:polymerA/polymers[45]/mon[5]/monomer
$/angle:bytype363 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[45]/mon[5]/monomer $/atom:polymerA/polymers[45]/mon[6]/monomer $/atom:polymerA/polymers[45]/mon[7]/monomer
$/angle:bytype364 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[46]/mon[1]/monomer $/atom:polymerA/polymers[46]/mon[2]/monomer $/atom:polymerA/polymers[46]/mon[3]/monomer
$/angle:bytype365 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[46]/mon[3]/monomer $/atom:polymerA/polymers[46]/mon[4]/monomer $/atom:polymerA/polymers[46]/mon[5]/monomer
$/angle:bytype366 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[46]/mon[5]/monomer $/atom:polymerA/polymers[46]/mon[6]/monomer $/atom:polymerA/polymers[46]/mon[7]/monomer
$/angle:bytype367 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[47]/mon[1]/monomer $/atom:polymerA/polymers[47]/mon[2]/monomer $/atom:polymerA/polymers[47]/mon[3]/monomer
$/angle:bytype368 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[47]/mon[3]/monomer $/atom:polymerA/polymers[47]/mon[4]/monomer $/atom:polymerA/polymers[47]/mon[5]/monomer
$/angle:bytype369 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[47]/mon[5]/monomer $/atom:polymerA/polymers[47]/mon[6]/monomer $/atom:polymerA/polymers[47]/mon[7]/monomer
$/angle:bytype370 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[48]/mon[1]/monomer $/atom:polymerA/polymers[48]/mon[2]/monomer $/atom:polymerA/polymers[48]/mon[3]/monomer
$/angle:bytype371 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[48]/mon[3]/monomer $/atom:polymerA/polymers[48]/mon[4]/monomer $/atom:polymerA/polymers[48]/mon[5]/monomer
$/angle:bytype372 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[48]/mon[5]/monomer $/atom:polymerA/polymers[48]/mon[6]/monomer $/atom:polymerA/polymers[48]/mon[7]/monomer
$/angle:bytype373 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[49]/mon[1]/monomer $/atom:polymerA/polymers[49]/mon[2]/monomer $/atom:polymerA/polymers[49]/mon[3]/monomer
$/angle:bytype374 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[49]/mon[3]/monomer $/atom:polymerA/polymers[49]/mon[4]/monomer $/atom:polymerA/polymers[49]/mon[5]/monomer
$/angle:bytype375 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[49]/mon[5]/monomer $/atom:polymerA/polymers[49]/mon[6]/monomer $/atom:polymerA/polymers[49]/mon[7]/monomer
$/angle:bytype376 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[50]/mon[1]/monomer $/atom:polymerA/polymers[50]/mon[2]/monomer $/atom:polymerA/polymers[50]/mon[3]/monomer
$/angle:bytype377 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[50]/mon[3]/monomer $/atom:polymerA/polymers[50]/mon[4]/monomer $/atom:polymerA/polymers[50]/mon[5]/monomer
$/angle:bytype378 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[50]/mon[5]/monomer $/atom:polymerA/polymers[50]/mon[6]/monomer $/atom:polymerA/polymers[50]/mon[7]/monomer
$/angle:bytype379 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[51]/mon[1]/monomer $/atom:polymerA/polymers[51]/mon[2]/monomer $/atom:polymerA/polymers[51]/mon[3]/monomer
$/angle:bytype380 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[51]/mon[3]/monomer $/atom:polymerA/polymers[51]/mon[4]/monomer $/atom:polymerA/polymers[51]/mon[5]/monomer
$/angle:bytype381 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[51]/mon[5]/monomer $/atom:polymerA/polymers[51]/mon[6]/monomer $/atom:polymerA/polymers[51]/mon[7]/monomer
$/angle:bytype382 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[52]/mon[1]/monomer $/atom:polymerA/polymers[52]/mon[2]/monomer $/atom:polymerA/polymers[52]/mon[3]/monomer
$/angle:bytype383 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[52]/mon[3]/monomer $/atom:polymerA/polymers[52]/mon[4]/monomer $/atom:polymerA/polymers[52]/mon[5]/monomer
$/angle:bytype384 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[52]/mon[5]/monomer $/atom:polymerA/polymers[52]/mon[6]/monomer $/atom:polymerA/polymers[52]/mon[7]/monomer
$/angle:bytype385 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[53]/mon[1]/monomer $/atom:polymerA/polymers[53]/mon[2]/monomer $/atom:polymerA/polymers[53]/mon[3]/monomer
$/angle:bytype386 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[53]/mon[3]/monomer $/atom:polymerA/polymers[53]/mon[4]/monomer $/atom:polymerA/polymers[53]/mon[5]/monomer
$/angle:bytype387 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[53]/mon[5]/monomer $/atom:polymerA/polymers[53]/mon[6]/monomer $/atom:polymerA/polymers[53]/mon[7]/monomer
$/angle:bytype388 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[54]/mon[1]/monomer $/atom:polymerA/polymers[54]/mon[2]/monomer $/atom:polymerA/polymers[54]/mon[3]/monomer
$/angle:bytype389 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[54]/mon[3]/monomer $/atom:polymerA/polymers[54]/mon[4]/monomer $/atom:polymerA/polymers[54]/mon[5]/monomer
$/angle:bytype390 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[54]/mon[5]/monomer $/atom:polymerA/polymers[54]/mon[6]/monomer $/atom:polymerA/polymers[54]/mon[7]/monomer
$/angle:bytype391 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[55]/mon[1]/monomer $/atom:polymerA/polymers[55]/mon[2]/monomer $/atom:polymerA/polymers[55]/mon[3]/monomer
$/angle:bytype392 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[55]/mon[3]/monomer $/atom:polymerA/polymers[55]/mon[4]/monomer $/atom:polymerA/polymers[55]/mon[5]/monomer
$/angle:bytype393 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[55]/mon[5]/monomer $/atom:polymerA/polymers[55]/mon[6]/monomer $/atom:polymerA/polymers[55]/mon[7]/monomer
$/angle:bytype394 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[56]/mon[1]/monomer $/atom:polymerA/polymers[56]/mon[2]/monomer $/atom:polymerA/polymers[56]/mon[3]/monomer
$/angle:bytype395 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[56]/mon[3]/monomer $/atom:polymerA/polymers[56]/mon[4]/monomer $/atom:polymerA/polymers[56]/mon[5]/monomer
$/angle:bytype396 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[56]/mon[5]/monomer $/atom:polymerA/polymers[56]/mon[6]/monomer $/atom:polymerA/polymers[56]/mon[7]/monomer
$/angle:bytype397 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[57]/mon[1]/monomer $/atom:polymerA/polymers[57]/mon[2]/monomer $/atom:polymerA/polymers[57]/mon[3]/monomer
$/angle:bytype398 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[57]/mon[3]/monomer $/atom:polymerA/polymers[57]/mon[4]/monomer $/atom:polymerA/polymers[57]/mon[5]/monomer
$/angle:bytype399 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[57]/mon[5]/monomer $/atom:polymerA/polymers[57]/mon[6]/monomer $/atom:polymerA/polymers[57]/mon[7]/monomer
$/angle:bytype400 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[58]/mon[1]/monomer $/atom:polymerA/polymers[58]/mon[2]/monomer $/atom:polymerA/polymers[58]/mon[3]/monomer
$/angle:bytype401 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[58]/mon[3]/monomer $/atom:polymerA/polymers[58]/mon[4]/monomer $/atom:polymerA/polymers[58]/mon[5]/monomer
$/angle:bytype402 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[58]/mon[5]/monomer $/atom:polymerA/polymers[58]/mon[6]/monomer $/atom:polymerA/polymers[58]/mon[7]/monomer
$/angle:bytype403 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[59]/mon[1]/monomer $/atom:polymerA/polymers[59]/mon[2]/monomer $/atom:polymerA/polymers[59]/mon[3]/monomer
$/angle:bytype404 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[59]/mon[3]/monomer $/atom:polymerA/polymers[59]/mon[4]/monomer $/atom:polymerA/polymers[59]/mon[5]/monomer
$/angle:bytype405 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[59]/mon[5]/monomer $/atom:polymerA/polymers[59]/mon[6]/monomer $/atom:polymerA/polymers[59]/mon[7]/monomer
$/angle:bytype406 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[60]/mon[1]/monomer $/atom:polymerA/polymers[60]/mon[2]/monomer $/atom:polymerA/polymers[60]/mon[3]/monomer
$/angle:bytype407 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[60]/mon[3]/monomer $/atom:polymerA/polymers[60]/mon[4]/monomer $/atom:polymerA/polymers[60]/mon[5]/monomer
$/angle:bytype408 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[60]/mon[5]/monomer $/atom:polymerA/polymers[60]/mon[6]/monomer $/atom:polymerA/polymers[60]/mon[7]/monomer
$/angle:bytype409 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[61]/mon[1]/monomer $/atom:polymerA/polymers[61]/mon[2]/monomer $/atom:polymerA/polymers[61]/mon[3]/monomer
$/angle:bytype410 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[61]/mon[3]/monomer $/atom:polymerA/polymers[61]/mon[4]/monomer $/atom:polymerA/polymers[61]/mon[5]/monomer
$/angle:bytype411 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[61]/mon[5]/monomer $/atom:polymerA/polymers[61]/mon[6]/monomer $/atom:polymerA/polymers[61]/mon[7]/monomer
$/angle:bytype412 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[62]/mon[1]/monomer $/atom:polymerA/polymers[62]/mon[2]/monomer $/atom:polymerA/polymers[62]/mon[3]/monomer
$/angle:bytype413 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[62]/mon[3]/monomer $/atom:polymerA/polymers[62]/mon[4]/monomer $/atom:polymerA/polymers[62]/mon[5]/monomer
$/angle:bytype414 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[62]/mon[5]/monomer $/atom:polymerA/polymers[62]/mon[6]/monomer $/atom:polymerA/polymers[62]/mon[7]/monomer
$/angle:bytype415 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[63]/mon[1]/monomer $/atom:polymerA/polymers[63]/mon[2]/monomer $/atom:polymerA/polymers[63]/mon[3]/monomer
$/angle:bytype416 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[63]/mon[3]/monomer $/atom:polymerA/polymers[63]/mon[4]/monomer $/atom:polymerA/polymers[63]/mon[5]/monomer
$/angle:bytype417 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[63]/mon[5]/monomer $/atom:polymerA/polymers[63]/mon[6]/monomer $/atom:polymerA/polymers[63]/mon[7]/monomer
$/angle:bytype418 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[64]/mon[1]/monomer $/atom:polymerA/polymers[64]/mon[2]/monomer $/atom:polymerA/polymers[64]/mon[3]/monomer
$/angle:bytype419 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[64]/mon[3]/monomer $/atom:polymerA/polymers[64]/mon[4]/monomer $/atom:polymerA/polymers[64]/mon[5]/monomer
$/angle:bytype420 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[64]/mon[5]/monomer $/atom:polymerA/polymers[64]/mon[6]/monomer $/atom:polymerA/polymers[64]/mon[7]/monomer
$/angle:bytype421 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[65]/mon[1]/monomer $/atom:polymerA/polymers[65]/mon[2]/monomer $/atom:polymerA/polymers[65]/mon[3]/monomer
$/angle:bytype422 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[65]/mon[3]/monomer $/atom:polymerA/polymers[65]/mon[4]/monomer $/atom:polymerA/polymers[65]/mon[5]/monomer
$/angle:bytype423 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[65]/mon[5]/monomer $/atom:polymerA/polymers[65]/mon[6]/monomer $/atom:polymerA/polymers[65]/mon[7]/monomer
$/angle:bytype424 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[66]/mon[1]/monomer $/atom:polymerA/polymers[66]/mon[2]/monomer $/atom:polymerA/polymers[66]/mon[3]/monomer
$/angle:bytype425 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[66]/mon[3]/monomer $/atom:polymerA/polymers[66]/mon[4]/monomer $/atom:polymerA/polymers[66]/mon[5]/monomer
$/angle:bytype426 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[66]/mon[5]/monomer $/atom:polymerA/polymers[66]/mon[6]/monomer $/atom:polymerA/polymers[66]/mon[7]/monomer
$/angle:bytype427 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[67]/mon[1]/monomer $/atom:polymerA/polymers[67]/mon[2]/monomer $/atom:polymerA/polymers[67]/mon[3]/monomer
$/angle:bytype428 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[67]/mon[3]/monomer $/atom:polymerA/polymers[67]/mon[4]/monomer $/atom:polymerA/polymers[67]/mon[5]/monomer
$/angle:bytype429 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[67]/mon[5]/monomer $/atom:polymerA/polymers[67]/mon[6]/monomer $/atom:polymerA/polymers[67]/mon[7]/monomer
$/angle:bytype430 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[68]/mon[1]/monomer $/atom:polymerA/polymers[68]/mon[2]/monomer $/atom:polymerA/polymers[68]/mon[3]/monomer
$/angle:bytype431 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[68]/mon[3]/monomer $/atom:polymerA/polymers[68]/mon[4]/monomer $/atom:polymerA/polymers[68]/mon[5]/monomer
$/angle:bytype432 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[68]/mon[5]/monomer $/atom:polymerA/polymers[68]/mon[6]/monomer $/atom:polymerA/polymers[68]/mon[7]/monomer
$/angle:bytype433 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[69]/mon[1]/monomer $/atom:polymerA/polymers[69]/mon[2]/monomer $/atom:polymerA/polymers[69]/mon[3]/monomer
$/angle:bytype434 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[69]/mon[3]/monomer $/atom:polymerA/polymers[69]/mon[4]/monomer $/atom:polymerA/polymers[69]/mon[5]/monomer
$/angle:bytype435 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[69]/mon[5]/monomer $/atom:polymerA/polymers[69]/mon[6]/monomer $/atom:polymerA/polymers[69]/mon[7]/monomer
$/angle:bytype436 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[70]/mon[1]/monomer $/atom:polymerA/polymers[70]/mon[2]/monomer $/atom:polymerA/polymers[70]/mon[3]/monomer
$/angle:bytype437 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[70]/mon[3]/monomer $/atom:polymerA/polymers[70]/mon[4]/monomer $/atom:polymerA/polymers[70]/mon[5]/monomer
$/angle:bytype438 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[70]/mon[5]/monomer $/atom:polymerA/polymers[70]/mon[6]/monomer $/atom:polymerA/polymers[70]/mon[7]/monomer
$/angle:bytype439 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[71]/mon[1]/monomer $/atom:polymerA/polymers[71]/mon[2]/monomer $/atom:polymerA/polymers[71]/mon[3]/monomer
$/angle:bytype440 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[71]/mon[3]/monomer $/atom:polymerA/polymers[71]/mon[4]/monomer $/atom:polymerA/polymers[71]/mon[5]/monomer
$/angle:bytype441 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[71]/mon[5]/monomer $/atom:polymerA/polymers[71]/mon[6]/monomer $/atom:polymerA/polymers[71]/mon[7]/monomer
$/angle:bytype442 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[72]/mon[1]/monomer $/atom:polymerA/polymers[72]/mon[2]/monomer $/atom:polymerA/polymers[72]/mon[3]/monomer
$/angle:bytype443 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[72]/mon[3]/monomer $/atom:polymerA/polymers[72]/mon[4]/monomer $/atom:polymerA/polymers[72]/mon[5]/monomer
$/angle:bytype444 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[72]/mon[5]/monomer $/atom:polymerA/polymers[72]/mon[6]/monomer $/atom:polymerA/polymers[72]/mon[7]/monomer
$/angle:bytype445 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[73]/mon[1]/monomer $/atom:polymerA/polymers[73]/mon[2]/monomer $/atom:polymerA/polymers[73]/mon[3]/monomer
$/angle:bytype446 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[73]/mon[3]/monomer $/atom:polymerA/polymers[73]/mon[4]/monomer $/atom:polymerA/polymers[73]/mon[5]/monomer
$/angle:bytype447 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[73]/mon[5]/monomer $/atom:polymerA/polymers[73]/mon[6]/monomer $/atom:polymerA/polymers[73]/mon[7]/monomer
$/angle:bytype448 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[74]/mon[1]/monomer $/atom:polymerA/polymers[74]/mon[2]/monomer $/atom:polymerA/polymers[74]/mon[3]/monomer
$/angle:bytype449 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[74]/mon[3]/monomer $/atom:polymerA/polymers[74]/mon[4]/monomer $/atom:polymerA/polymers[74]/mon[5]/monomer
$/angle:bytype450 @/angle:COPOLYFF/BAB $/atom:polymerA/polymers[74]/mon[5]/monomer $/atom:polymerA/polymers[74]/mon[6]/monomer $/atom:polymerA/polymers[74]/mon[7]/monomer
